body {
      background-image: url('https://www.publicdomainpictures.net/pictures/20000/velka/jellyfish-background-871299518276q0p.jpg');
      background-repeat: no-repeat;
      color:white;
      font-weight: bold;
}

.error {
      margin: 15%;
}

.title {
      font-size: 4em;
}

.text {
      font-size: 2em;
}

.link {
      color: white;
}

  