body {
    background-image: url('https://images.unsplash.com/photo-1550695935-a2a96bbb7dd6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80https://www.publicdomainpictures.net/pictures/20000/velka/jellyfish-background-871299518276q0p.jpg');
    background-repeat:round space ;
    color:#E0F301;
    font-weight: bold;
    display: flex;    
    justify-content: center;
}

.error {
    margin-top: 15%;
    max-width: 50%;
    padding: 1rem 10rem ;
    /* border : solid 3px rgba(60, 69, 159, 0.9); */
    border-radius: 45px ;
    background-color: rgba(121, 35, 145, 0.4);
    text-align: center;

}

.error-title {
    font-size: 5rem;
    margin-top: 0em;
    font-family: 'Wallpoet', cursive;
}

.text {
    font-family: 'Offside', cursive;
    font-size: 2rem;
}

/*! Lien vague */

.divlink {
    padding-top: 2rem;
}

.link {
    font-family: 'Offside', cursive;
    font-size: 2em;
    color: rgb(224, 243, 1);
}

:root {
  --mainColor: #0802C2;
}

a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
  color: #000;
  text-decoration: none;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%230802c2' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}
