@use 'src/styles/vars';

.profile {
  &__wrap__left {
    & > .personal--informations {
      display: flex;
      justify-content: space-between;
      margin: 0 1rem;
    }
  }
  &__odyssea__avatar {
    width: 150px;
    border-radius: 50%;
  }
  &__pseudo {
    font-family: vars.$font-title;
  }
  &__edit--submit {
    border-radius: 999px;
    text-align: center;
    background-color: vars.$light-color;
    font-size: 1em;
    margin: 1rem 1rem 0 1rem;
    padding: 0.5em;
  } 
  &__edit__form {
    & > .field {
      & > input {
        color: #bbb;
        border-top: none;
        border-left: solid 1px;
        border-right: solid 1px;
        border-bottom: solid 1px;
        border-color: #bbb;
        height: 2em;
        width: 12em;
        padding: 0 3%;
        margin-top: 1rem;
          &:focus {
            color: black;
            border-color: black;
          }
      }
    }
    & > .field--radio {
      display: flex;
      justify-content: space-around;
      & > .radio--age--category {
        display :flex; 
        & > input {
          margin-top: 0.3rem;
          margin-left: 1rem
        }       
      }
    }
  }      
}

.accordion {
  box-shadow: 0 0 8px rgba(0,0,0,.125);
  text-align: center;
  padding: 1rem;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  width: 500px;
  &__card {
    border: none;
    background-color: white;
    & > .card-header {
      background-color: white;
      & > .btn-link {
        color: black;
        &:hover {
          color: vars.$light-color;
        }
      }
    }
  } 
}

.field--radio--avatars {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  align-items: center;
  & > .avatar__input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    & > .avatars {
      height: 150px;
    }
    & > .avatars__choice {
      display: flex;
      justify-content: space-between;
      justify-content: center;
      align-items: center;
      & > input {
        margin-bottom: 0.6rem;
        margin-left: 1rem;
      }
    }
  }  
}
