@use 'src/styles/vars';

.profile {
  margin: 1em;
  text-shadow: 4px 2px 4px black;
  height: 100%;
  min-height: 100vh;
  margin-bottom: 3em;
  z-index: 1;
  .profile__odyssea__avatar {
    max-width: 290px
  }
  &__pseudo {
    font-size: 2em;
    margin-bottom: 1em;
    padding: 0.5em;
  }
  @media (max-width: 820px) {
  &__edit {
    display: flex;
    flex-direction: column;
  }
}
  &__title {
    color: orange;
    font-size: 2em;
    font-weight: bolder;
  }
  &__score {
  }
  .profile__edit__form {
    & label {
      color: orange;
      font-weight: bold;
    }
    & input {
      border: none;
      margin-top: 0.3em;
      border-radius: 10px;
      padding: vars.$gutter / 1.5;
    }
    
  }
  .profile__wrap__right {
      z-index: 0;
  }
  &__edit--submit {
    border-radius: 10px;
    border: none;
    padding: vars.$gutter / 1.5;
    margin-bottom: vars.$gutter;
    background-color: vars.$background-color;
    color: vars.$title-color;
    font-weight: bold;

  }
  &__button--delete {
    font-weight: bold;
    border: none;
    margin-top: 2em;
    color: red;
    border-radius: 10px;
    padding: vars.$gutter / 1.8;
    background-color: vars.$background-color;
  }
}
.field--radio {
    display: flex;
    justify-content: center;
    align-content: space-around;
    vertical-align: middle;border: none;
    &__details {
      vertical-align: middle;
    }
    input[type='radio']{
      transform: scale(1.5);
    }
      
}
.profile-field-input--radio {
      margin-left: 1em;
      margin-right: 1em;
      width: 20px;  
      
}
.field__radio__avatars {
  display: flex;
  flex-wrap: wrap;
}
.profile-field-input--radio--avatars {
  
  margin: 1em;
  transform: scale(2);
}
.field--radio--avatars {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}
.avatars {
  margin: 1em;
  width: 150px;
}
@media (min-width: 820px) {
  .profile__edit {
    padding: 2em;
    display: flex;
    justify-content: space-around;
    .profile__pseudo {
      margin-top: 2em;
    }
  }
}


.accordion {
  margin: 0 auto;
  min-width: 200px;
  max-width: 500px;
  &__card {
    background-color: vars.$background-color-transparent;
  }
}

@media (min-width: 100px) {
  .category__score__img {
    display: none;
  }
  }

@media (min-width: 380px) {
.category__score__img {
  width: 200px;
  height: 200px;
  display: block;
}
}

@media screen and (min-width: 641px) {
.category__score__img {
  width: 400px;
  height: 400px;
}
}

