{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
    <div class="error">
        <h2 class="error-title">Erreur</h2>
    <p class="text">Il semble qu'il y ait un problème !
        <div class="divlink"><a href="http://http://54.237.18.247/back/admin" class="link">Retour à l'accueil</a></div>
    </p>
    </div>
{% endblock %}