{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
    <div class="error">
        <h2 class="error-title">Erreur 404</h2>
        <p class="text">Page non trouvée ! <br> Aucune page ne correspond à votre recherche !</p>
        <div class="divlink"><a href="http://54.226.34.31/back/admin" class="link">Retour à l'accueil</a></div>
    </div>
{% endblock %}