{% extends 'base.html.twig' %}

{% block body %}
    <div class="error404">
        <h2 class="error404__title">Erreur 403...</h2>
        <p>Vous n'avez pas accès à cette page! Retournez dans l'eau!</p>
        <div><a href="http://54.226.34.31/back/admin/login" class="text-info">Retour à l'accueil</a></div>
        <img
            alt="sad-shark"
            class="error404__img"
            src="{{ asset('assets/images/stop.jpg') }}"
        />
    </div>
{% endblock %}