@use 'src/styles/vars';

@media (max-width: 767px) {
  .footer {
    display: none;
  }
}
.footer {
  text-align: center;
  width: 100%;
  height: 3em;
  margin: 0;
  padding: 1em;
  bottom: 0;
  background-color: vars.$background-color;
  color: vars.$title-color;
}
