@use 'src/styles/vars';

.footer {
  width: 100%;
  height: 3em;
  margin: 0;
  background-color: vars.$background-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
