@use 'src/styles/vars';

.header {
  width: 100%;
  display: flex;
  flex-direction: column;  
  color: white;
  z-index: 1000;
}

.fullMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  margin: 0;
  padding: 1em;
  background-color: vars.$background-color-transparent;
  text-align: left;
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%
}

.header__frontPage{
  height: 100vh;
}

/* small screen size */
@media (max-width: 920px) {
  .header {
    top: 3em;
  }
  .fullMenu{
    position: fixed;
    top: 3em;
  }
}
.menu--desktop__logo {
    width:75px;
  }
.menu__item > div > p {
  width:75px;
}


/* Responsive conditions : what sould not be displayed depending on the screen size */

/* Burger Menu small screen size */
@media (min-width: 1080px) {
    .menu--burger {
      display: none;
    }

  }
/* Burger menu styles */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  left: 0;
  top: 0;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #197285;
  
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #197285;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 50px;
  width: 200px;
  margin-right: 10%;
  padding-left: 60px;
  padding-bottom: 60px;
}
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

.btn-primary {
  background-color: vars.$background-color-transparent;
  border: 1px solid white;
  font-size: 1.2rem
}

.btn-primary:hover {
  background-color: vars.$background-color-transparent;
  border-color: #197285;
  color: #197285;
}

.btn-primary--active {
  background-color: vars.$background-color-transparent;
  border-color: #197285;
  color: #197285;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: absolute;
  height: 50%;
  margin-left: -18px;
  margin-top: -10px;
}

svg:nth-child(1) {
  width: 70%;
}

/* General sidebar styles */
.bm-menu {
  background: rgba(1, 1, 36);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: rgba(1, 1, 36);
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  overflow-x: scroll;

}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  z-index: 900;
}
.burger-menu__footer {
  margin-top: 6em;
  padding-bottom: 3em;
}

/* Nav menu not to be displayed when on a small screen */
@media (max-width: 1079px) {
  .menu--desktop {
    display: none;
  }
}
/* Desktop nav styles*/
.menu--desktop {
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: #fff;
    font-size: 1.5rem;
}
/* Nav Log */
.header__nav__form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-size: 1.5rem;
}

/* Header Register link */
.header__nav__register a:hover {
  color: #197285;
  text-decoration: none;
}

.header__nav__form--active {
  color: #197285;
  text-decoration: none;
}

.header__nav__register a {
  padding-right: 1em;
  color: white;
  text-decoration: none;
}

/* Login */
.btn {
  background-color: none;
  color: white;
  font-size: 1.5rem;
}
.btn:hover {
  color: #197285;
}
.login {
  position: fixed;
  right: 3em;
  width: 300px;
  display: flex;
  transition: transform .3s ;
  transform: translateX(250px);
  &--open {
    transform: translateX(0);
    top: 2em;
    right: 30%;
    width: 350px;
    .login__toggler {
      /* add display none and use blur */
      background-color: transparent;
      color: transparent;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__toggler {
    background-color: transparent;
    transform: rotate(0);
    border: none;
    color: black;
    margin-right: 4em;
    font-weight: bold;
    font-size: medium;
  }
  &__submit {
    background-color: vars.$background-color;
    color: white;
    border: none;
    border-radius: 10px;
    padding: vars.$gutter / 2;
    font-weight: bold;
  }
}
/* In case of errors on Login */
body > div.fade.modal.show > div > div > div.modal-footer > div {
  text-align: justify;
  margin-top: 0;
}
/* Link style */

.menu__item {
  color: white;
  font-size: medium;
  padding: 1em;
  border: none;
  font-size: 1.5rem;
}

.menu__link--active:hover {
  color: #197285;
  text-decoration: none;
}

.menu__link--active {
  color: #197285;
}

.logo {
  padding-top: 100px;
  width: 200px;
}
/* if user is logged */
.menu__item--logout:hover {
  color: #197285;
  cursor: pointer;
}

.menu__item:hover {
  color: #197285;
  text-decoration: none;
}

