@use 'src/styles/vars';

.header {
  width: 100%;
  display: flex;
  flex-direction: column;  
  z-index: 1000;
  height: 5em;
}

.fullMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  margin: 0;
  padding: 1em;
  background-color: white;
  text-align: left;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%
}


/* Burger menu styles */
.bm {
  &-burger-button {
    position: relative;
    width: 36px;
    height: 30px;
    left: 0;
    top: 0;
  }
  /* Color/shape of burger icon bars */
  &-burger-bars {
    background: vars.$light-color;
    &-hover {
      /* Color/shape of burger icon bars on hover*/
        background: vars.$light-color;
    }  
  }
  /* Color/shape of close button cross */
  &-cross {
    background: #bdc3c7;
    &-button {
    /* Position and sizing of clickable cross button */
      height: 50px;
      width: 200px;
      margin-right: 10%;
      padding-left: 60px;
      padding-bottom: 60px;
    }
  }/* General sidebar styles */
  &-menu {
    background: rgba(1, 1, 36);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    &-wrap {
      /*
      Sidebar wrapper styles
      Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
      */
      position: absolute;
      height: 50%;
      margin-left: -18px;
      margin-top: -10px;
    }
  }
    /* Morph shape necessary with bubble or elastic */
  &-morph-shape {
    fill: rgba(1, 1, 36);
  }
  /* Individual item */
  &-item {
    display: inline-block;
    &-list {
      /* Wrapper for item list */
      padding: 0.8em;
      overflow-x: scroll;
    }
  }
  /* Styling of overlay */
  &-overlay {
    background: rgba(0, 0, 0, 0.3);
    z-index: 900;
  }
}

.burger-menu__footer {
  margin-top: 6em;
  padding-bottom: 3em;
}

/* Nav Log */
.header__nav {
  &__form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &--active {
      color: vars.$light-color;
      text-decoration: none;
    }
  }
  &__register a {
/* Header Register link */
    color: black;
    font-size: 1rem;
    text-decoration: none;
    padding: 1em;
    &:hover {
      color: vars.$light-color;
      text-decoration: none;
    }
  }
}

.login__btn > .btn {
  background-color: none;
  margin-left: 2rem;
  color: black;
  font-size: 1rem;
  border: 1px solid vars.$light-color;
  transition: all .2s ease-in-out;
  &:hover {
    color: vars.$light-color;
    transform: scale(1.2);
  }
  &-primary {
    background-color: vars.$background-color-transparent;
    border: 1px solid white;
    font-size: 1.2rem;
    &:hover {
      background-color: vars.$background-color-transparent;
      border-color: vars.$light-color;
      color: vars.$light-color;
    }
    &--active {
      background-color: vars.$background-color-transparent;
      border-color: vars.$light-color;
      color: vars.$light-color;
    }
  }
}

svg:nth-child(1) {
  width: 70%;
}

.login {
  position: fixed;
  right: 3em;
  width: 300px;
  display: flex;
  transition: transform .3s ;
  transform: translateX(250px);
  &--open {
    transform: translateX(0);
    top: 2em;
    right: 30%;
    width: 350px;
    .login__toggler {
      background-color: transparent;
      color: transparent;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__toggler {
    background-color: transparent;
    transform: rotate(0);
    border: none;
    color: black;
    margin-right: 4em;
    font-weight: bold;
    font-size: medium;
  }
  &__label {
    font-size: .8em;
    color: #010124;
    font-weight: 700;
  }
  &__field {
    font-size: 1.5em;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #bbb;
    border-top: #bbb;
    background: transparent;
    display: block;
    height: 2em;
    width: 12em;
    margin-bottom: 5%;
    padding: 0 3%;
    position: relative;
    z-index: 0;
  }
  &__submit {
    background-color: vars.$background-color;
    color: white;
    border: none;
    border-radius: 10px;
    padding: vars.$gutter / 2;
    font-weight: bold;
    width: 100%;
  }  
}
/* In case of errors on Login */
body > div.fade.modal.show > div > div > div.modal-footer > div {
  text-align: justify;
  margin-top: 0;
}
/* Link style */

.menu {
  &__item {    
    color: black;
    padding: 1em;
    border: none;
    font-size: 1em;
    &:hover {
      color: vars.$light-color;
      text-decoration: none;
    }
    &--logout:hover {
      /* if user is logged */
      color: vars.$light-color;
      cursor: pointer;
    }
    &__item > div > p {
      width:75px;
    }
  }
  &__link--active {
    color: vars.$light-color;
    &:hover {
      color: vars.$light-color;
      text-decoration: none;
    }
  }
  &--desktop__logo > img{
    width:75px;
  }  
  &--mobile__logo{
    display: inline-block;
    width: 50px;
  }
}


.logo {
  padding-top: 100px;
  width: 200px;
}

/* Nav menu not to be displayed when on a small screen */
@media (max-width: 1080px) {
  .menu {
    &--desktop__logo {
      display: none;
    }
    &--desktop {
      display: none;
    }
    /* Change nav log on screen sizes */
    &--logged {
      & > .menu__item--profil {
        color: black;
      }
    }
    &__item {
      color: white;
      &--logout {
        color: black;
      }      
    }
  }
}

@media (min-width: 1080px) {
  .menu {
    &--logged--mobile {
      display: none;
    }
    /* Desktop nav styles*/
    &--desktop {
      display: -webkit-box;
      display: -ms-flexbox;        
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: end;
      display: flex;
      justify-content: flex-end;
      color: #fff;
      font-size: 1rem;
    }
    /* Burger Menu small screen size */
    &--burger {
      display: none;
    }
  }
}




