@use 'src/styles/vars';

.page {
  background-image: url('https://cdn.pixabay.com/photo/2012/03/03/23/52/animal-21649_1280.jpg');
  background-image: linear-gradient(vars.$background-color, rgba(1, 1, 36, 0));
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.page__content {
  padding-top: 20em;
  display: inline-block;
  width: 100vw;
}

.page__otherPages {
  background: none;
}

/* small screen size */
@media (max-width: 768px) {
  .page__content{
    padding-top: 8em;
  }
}
