@use 'src/styles/vars';

.page__categories {
  padding-top: 2em;
  text-align: center;
  overflow-y: hidden scroll; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.categories__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.categories__item h3 {
  color: white;
  padding: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  background-color: vars.$background-color-transparent;
  position: absolute;
  border-radius: 10px;
}

.categories__item h3:hover {
  color: vars.$light-color;
}

.categories__item a:hover {
  text-decoration: none;
}

.categories__item {
  margin: 1em;
}
.category__img {
  border-radius: 10px;
}
@media (max-width: 760px) {
  .category__img {
    width: 200px;
    height: 150px;
  }
}
@media (min-width: 760px) {
  .category__img {
    width: 400px;
    height: 350px;
  }
}

@media (min-width: 2760px) {
  .category__img {
    width: 1000px;
    height: 750px;
  }
}
