@use 'src/styles/vars';

.category__survey {
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  color: white;
  font-size: 20px;
}

.category__error__log {
  margin-top: 5em;
  color: vars.$background-color;
  text-align: center;
}
