.title {
  z-index: 1000;
}
.text {
  position: absolute;
    top: 40vh;
    color: white;
    padding-top: 4em;
    padding-right: 4em;
    font-size: 1.2rem;
}

.text__otherPages{
  display: none;
}
