.errorsList {
  color: red;
  font-size: 20px;
}

.errorMessage {
  color: red;
  font-size: 20px;
}

.errorList {
  text-transform: capitalize;
  list-style: none;
  color: red;
  font-size: 20px;
}
