@use 'src/styles/vars';
.survey {
  margin-bottom: 40px;  
  margin-top: 8em;

}

.sv_main{
  max-width: 500px;
  font-family: vars.$font-family;
  font-size: 20px;
}

@media (min-width: 768px) {
  .exempleSurveys{
  display: flex;
  justify-content: space-around;
  }
}

.survey{
  display: flex;
  justify-content: center;
  display: inline-block;
  margin-bottom: 2em;
}

.sv_header{
  background-color: #3C74C8;
  opacity: 0.6;
  height: 120px;
  //padding: 0;
  //margin-bottom: 20px;
}

.sv_header span {
  color: white;
  font-size: 30px;
  font-family: vars.$font-family;
  font-weight: 100;
  padding-bottom: 20px;
}

.sv_header h3 {
  padding-top: 0;
  padding-bottom: 20px;
}

.sc_header__text h3 span {
  padding-bottom: 20px;
}

.sv_body {
  border-top: 2px solid  blue;
}

.sv_main input[type=button] {
  background-color: rgba(1,1,36,.8);
  border: 1px solid #fff;
  font-size: 1.2rem;
  font-family: vars.$font-family;
  font-weight: 100;
}

.sv_main input[type=button]:hover {
  background-color: white;
  color: vars.$light-color;
  border: 1px solid vars.$light-color;
  font-size: 1.2rem;
  font-family: vars.$font-family;
  font-weight: 100;
}

.sv_q_title h5 {
  display: inline-block;
  padding: 0;
  color: vars.$background-color;
  font-family: vars.$font-family;
}

.sv_q_title span {
  display: inline-block;
  padding: 0;
  color: vars.$background-color;
  margin-bottom: 20px;
}

.sv_q_radiogroup_label{
  display: flex;
}

.sv_q_radiogroup_label span {
  margin: 0;
  padding: 0;
  font-family: vars.$font-family;
  //color: vars.$light-color;
}

.sv_main span{
  margin-top: -9px;
}

.sv_q_title span{
  margin-top: -20px;
  font-size: 1.2rem;
  font-family: vars.$font-family;
}

.sv_q_radiogroup span span {
  margin-top: -9px;
  font-size: 1.2rem;
  font-family: vars.$font-family;
  font-weight: 100;
}

.sv_progress div span {
  font-size: 1.2rem;
  font-family: vars.$font-family;
  font-weight: 100;
}

.endQuiz {
  background-color: rgba(1,1,36,.8);
  font-size: 1.2rem;
  color: white;
  padding: 10px 50px;
  text-transform: uppercase;
  font-weight: 200;
}

.endQuiz:hover {
  background-color: white;
  color: vars.$light-color;
  border: 1px solid vars.$light-color;
}
