@use 'src/styles/vars';

.field {
  &__label {
    font-size: .8em;
    color: orange;
    font-weight: bold;
  }
  &__input {
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: vars.$gutter / 1.5;
    margin-bottom: vars.$gutter / 2;
  }
}
