@use 'src/styles/vars';

.app {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 0;
  padding: 0;
  text-align: center;
  font-family: "GT America Extended";
}

.mainPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .category__img {
  max-width: 150px;
}

.frontPageImage {
  background-image: linear-gradient(rgb(0,1,26, 0), rgb(0,1,26));  
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.playText {
  color: white;
  padding-top: 8rem;
}


