@use 'src/styles/vars';

.app {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 0;
  padding: 0;
  text-align: center;
  font-family: "GT America Extended";
}

.mainPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}


h1 {
  font-size: xx-large;
  font-weight: 900;
  color: white;
  font-family: 'GT America Extended', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
  display: flex;
  justify-content: center;
}

.title__frontPage {
  position: absolute;
  top: 30vh;
  font-size: 5vw;
}

.title__otherPages {  
  position: fixed;
  top: 1em;
  font-size: 1.6rem;
  z-index: 2;
  color: #197285;
}

.app .category__img {
  max-width: 150px;
}

/* small screen size */
@media (max-width: 768px) {
  .title__otherPages {
    color: white;
    top: 0.5em;
  }
  .title__frontPage {
    position: fixed;
    top: 1em;
    font-size: 1.6rem;
    z-index: 2;
    top: 0.5em;
  }
  .title {
    width: 100%;
    position: fixed;
    height: 3em;
    background-color: #197285;
    justify-content: center;
  }
}
