.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: xx-large;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app img {
  max-width: 150px;
}
