@use 'src/styles/vars';

.app {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 0;
  padding: 0;
  text-align: center;
  font-family: "GT America Extended";
}

.mainPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}


h1 {
  font-size: xx-large;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app .category__img {
  max-width: 150px;
}
