@use 'src/styles/vars';

.faq {
  margin: 8em;
  padding: 2em;
  text-align: center;
  background-color: vars.$background-color-transparent;
  font-family: vars.$font-family;
  font-weight: 100;
}
.faq > h2{
    color: vars.$title-color;
    //font-weight: bold;
    padding: 1em;
  }

.faq > p, li {
  color: white;
  font-size: 1.3em;
}

.faq a:hover {
  text-decoration: none;
  color: blue;
}

.faq a {
  color: vars.$light-color;
}
