@use 'src/styles/vars';

.faq {
  margin: 2em auto;
  padding: 2em;
  text-align: center;
}
.faq > h2{
    color: vars.$title-color;
    font-weight: bold;
  }
.faq > p, li {
  color: white;
  font-size: 1.3em;
}
