$background-color-transparent: rgba(1, 1, 36, 0.8);
$background-color: rgba(1, 1, 36);
$light-color: hsl(191, 68%, 31%);
$title-color: rgb(255, 165, 0);
$font-family: 'GT America Extended';

$gutter: 1rem;
