$background-color-transparent: rgba(1, 1, 36, 0.8);
$background-color: rgba(1, 1, 36);
$light-color: hsl(191, 68%, 31%);
$contrast-color: dodgerblue;
$violet-color: rgba(0,0,255,.2);
$font-family: 'Karla', sans-serif;
$font-title: 'Abril Fatface', cursive;;

$gutter: 1rem;
