@use 'src/styles/vars';
.register {
  display: flex;
  justify-content: center;
  position: relative;
    &__container {
      box-shadow: 0 0 8px rgba(0,0,0,.125);
      text-align: center;
      padding: 4rem 2rem;
      background-color: white;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: .25rem;    
    }
    &__title {
      margin: 2rem 0;
			font-size: 3em;
    }
    &-form-button {
      border-radius: 999px;
      text-align: center;
      background-color:  #8ceabb;
      font-size: 1.5em;
      margin-bottom: 2rem;
      width: 100%;
      font-weight:600;
    }
    &--validate {
      color: black;
    }
}
