@use 'src/styles/vars';

.register__form {
  margin: 4em;
  display: flex;
  flex-direction: column;
  display: inline-block;
}
.register__form > span {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}
.register-field {
  &-label {
    color: white;
    font-size: 2em;
    font-weight: bolder;
  }
  &-input {
    border-radius: 10px;
    padding: vars.$gutter / 1.5;
    margin-bottom: vars.$gutter;
  }
}
.register-form-button {
  border-radius: 5px;
    padding: 1.5em 3em 1.5em 3em;
    margin-bottom: vars.$gutter / 2;
    font-size: 1em;
    color: white;
    font-weight: bolder;
    background-color: vars.$background-color;
    border: none;
    margin: 4em;
    &:hover {
      color: #197285;
    }
}
.register-field-input > input {
  border-radius: 5px;
  display: inline-block;
  color: orange;
  padding: 1em 2em;
  margin-right: 4em;
  font-weight: bold;
  font-size: medium;
  display: block;
  margin: auto;
}
.register-field-input > input::placeholder {
  text-align: center;
}
.field--radio {
  font-weight: bold;
  font-size: medium;
  color: vars.$title-color;
  display: flex;
  justify-content: center;
  align-content: space-around;
  input[type='radio']{
    margin-left: 1em;
    margin-right: 1em;
    width: 20px;
    margin-top: 0.3em;
    transform: scale(1.5);
  }
}
.register-field--radio__details {
  color: white;
}
//Do not use css like that, it impacts all the labels and span on the page
.register > label {
  font-weight: bold;
}

.register > span {
  //color: orange;
  font-size: 20px;
  display: inline-block;
  margin: auto;
  margin-bottom: 1rem;
  display: block;
  padding: 0.5em;
  font-weight: bold;
}
.register--validate {
  color: vars.$background-color
}
