@use 'src/styles/vars';

.error404 {
  margin: 4em;
  
  &__title {
    text-align: left;
    margin-left: 0;
    color: vars.$contrast-color;
    line-height: 2em;
    font-weight: 900;
    font-size: 4em;
  }
  &__img {
    padding: 3em;
    max-width: 550px;
    border-radius: 200px;
  }
}
.error404 > p {
  text-align: left;
  padding-left: 7em;
  color: white;
  font-size: 1.3em;
}
.here--link {
  text-decoration: underline;
}

